{% extends "base.html" %}

{% block content %}

<h1>Add New Trip</h1>
<!--Add the form for tasks in here-->
<form action="/cities" method="post">
    <!--The above line provides the action for the button-->
    <div>
        <label for="country">Country</label>
        <select name="country_id" id="country">

            {% for country in all_countries %}
            <!-- all_countries is defined in the route for new city as equal to countries which is equal to country.repository.select_all-->
            <option value=" {{ country.id }}">{{country.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="name">City</label>
        <input type="text" id="name" name="name" placeholder="name" required>
    </div>
    <label for="completed">Trip Taken?</label>
    <select name="completed" id="completed">
        <option value="1">Yes</option>
        <option value="0">Still to see</option>
    </select>
    </div>


    <button type="submit">Add City</button>
    <!--The button on the screen-->

</form>

{% endblock %}