<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"> <!-- NEW -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- NEW -->
    <title>My Travel Tracker</title>
</head>

<body>
    <header>
        <h1>My Travel Tracker</h1>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/cities">Cities</a></li>
                <li><a href="/cities/new">New City</a></li>
                <li><a href="/cities/trips_taken">Trips Taken</a></li>
                <li><a href="/cities/trip_wishlist">Trip Wishlist</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}
        <!--Block from tasks/index.html appears here-->
        {% endblock %}
    </div>
</body>

</html>