{% extends "base.html" %}
{% block content %}
<div class="home">

    <h2>Welcome to the Travel Tracker App</h2>

    <p>This app allows the user to keep a track of cities they have visited around the world.</p>
    <p>It also allows the user to keep track of places they may want to visit in the future.</p>
    <p>New countries and cities can also be added to the app, but it is recommended </p>
    <p>By clicking on the various links in the navigation bar, found at the top of every page,
        the user can navigate to each part of the app.</p>

</div>



{% endblock %}